.map{
    width: 100%;
    margin: auto;
}


#MapaTurismo{
    opacity: 0.5;
}

.municipios{
    opacity: 0.8;
    cursor: pointer;
    fill: #d0d0d0 !important;

}

.rango0{
    fill: #d0d0d0;
}

.rango1{
    fill: #196b03 !important;
}

.rango2{
    fill: #d5e601 !important;
}

.rango3{
    fill: #fea400 !important;
}

.rango4{
    fill: #ff2900 !important;
}

.municipios:hover{
    opacity: 1;
}

#CALDAS{
    cursor: pointer;
    opacity: 0;
}
#CALDAS:hover{
    opacity: 0.5;
}

#TOLIMA{
    cursor: pointer;
    opacity: 0;
}

#TOLIMA:hover{
    opacity: 0.5;
}

#RISARALDA{
    cursor: pointer;
    opacity: 0;
}

#RISARALDA:hover{
    opacity: 0.5;
}

#QUINDIO{
    cursor: pointer;
    opacity: 0;
}

#QUINDIO:hover{
    opacity: 0.5;
}

#CALDAS_2{
    cursor: pointer;
    opacity: 0.7;
}
#CALDAS_2:hover{
    opacity: 1;
}

#TOLIMA_2{
    cursor: pointer;
    opacity: 0.7;
}

#TOLIMA_2:hover{
    opacity: 1;
}

#RISARALDA_2{
    cursor: pointer;
    opacity: 0.7;
}

#RISARALDA_2:hover{
    opacity: 1;
}

#QUINDIO_2{
    cursor: pointer;
    opacity: 0.7;
}

#QUINDIO_2:hover{
    opacity: 1;
}


.str0 {stroke:#FEFEFE;stroke-width:49.33;stroke-miterlimit:22.9256;stroke-opacity:0.788235}
.fil1 {fill:#FDB92E;fill-opacity:0.788235; cursor: pointer;}
.fil0 {fill:#80384F;fill-opacity:0.788235; cursor: pointer;}
.fil3 {fill:#28744B;fill-opacity:0.788235; cursor: pointer;}
.fil2 {fill:#00A859;fill-opacity:0.788235; cursor: pointer;}


.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.aqua-gradient {
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}


.image-background-services {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}


.background-services {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

.container-portada{
    background-image: url('/assets/icono_background.jpg') !important;
}


.cls-1{fill:#28744b;}.cls-1,.cls-4{stroke:#fefefe;}.cls-1,.cls-2,.cls-3,.cls-4{stroke-miterlimit:10;}.cls-2{fill:#fdb92e;}.cls-2,.cls-3{stroke:#fffff3;}.cls-3{fill:#80384f;}.cls-4{fill:#00a859;}
